<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>
      360° ROTATING SCENES – WELCOME TO A WORLD OF CAPTIVATING MOMENTS!
    </title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img src="/assets/img/white-logo.png" alt="Logo" class="img-fluid" />
          <h1 class="text-light"><a href="/">Rotating Scenes</a></h1>
          <div class="social-links mt-3 text-center">
            <a
              href="https://www.instagram.com/360rotatingscenes/"
              class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <!---->
            <a
              href="https://www.youtube.com/channel/UCY_PSV7PHLLJ1CHnRt__q3g"
              class="twitter"
              ><i class="bx bxl-youtube"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/rotating-scenes-0234b127b"
              class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#services" class="nav-link scrollto"
                ><i class="bx bx-server"></i> <span>Services</span></a
              >
            </li>
            <li>
              <a href="#testimonials" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>Testimonials</span></a
              >
            </li>
            <li>
              <a href="#contact" class="nav-link scrollto"
                ><i class="bx bx-envelope"></i> <span>Contact</span></a
              >
            </li>

            <li>
              <a href="#booking" class="nav-link scrollto"
                ><i class="bx bx-bookmark"></i> <span>Booking</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container" data-aos="fade-in">
        <h1>360° ROTATING SCENES</h1>
        <h5>WELCOME TO A WORLD OF CAPTIVATING MOMENTS!</h5>
        <p>
          We capture
          <span
            class="typed"
            data-typed-items="Every Angle, Every Memory, 360 degrees , Grand celebration"
          ></span>
        </p>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Resume Section ======= -->
      <section id="services" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Sevices</h2>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <div class="resume-item pb-0">
                <h4>Capture Every Angle, Cherish Every Memory</h4>
                <p>
                  Introducing our extraordinary 360 degrees camera photography
                  and videography services. Whether it's a grand celebration, a
                  milestone event, or a cherished gathering of loved ones, we
                  are here to ensure that every magical moment is beautifully
                  preserved for eternity.
                </p>
              </div>

              <div class="resume-item">
                <h4>
                  Why settle for ordinary, when you can have extraordinary?
                </h4>
                <p>
                  Immerse yourself in a whirlwind of emotions as we unfold a new
                  dimension of photography and videography, where every angle
                  comes to life and every detail is meticulously preserved.
                </p>
              </div>
              <div class="resume-item">
                <h4>Step into a world of endless possibilities.</h4>
                <p>
                  With our cutting-edge technology, we bring the event to life
                  in a way that will leave you breathless. Our state-of-the-art
                  360 degrees cameras provide an unrivaled sense of presence,
                  immersing you in the ambiance of the occasion and preserving
                  memories that will be cherished for generations to come.
                </p>
              </div>
              <div class="resume-item">
                <h4>A team of passionate storytellers at your service.</h4>
                <p>
                  Our team of dedicated professionals are not just photographers
                  and videographers – they are artists who possess an innate
                  ability to capture the essence of every moment. With an eye
                  for detail and a passion for perfection, they ensure that the
                  focus remains on the joyous celebration unfolding before them.
                </p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="resume-item">
                <h4>Unleash the extraordinary and let your event shine.</h4>
                <p>
                  Whether it's a wedding, a corporate gala, a music festival, or
                  any other special occasion, our 360 degrees camera photography
                  and videography services will elevate your event to new
                  heights. Witness the smiles, the laughter, and the tears of
                  joy from every possible angle, encapsulating the spirit of
                  your event like never before.
                </p>
              </div>
              <div class="resume-item">
                <h4>
                  Experience the magic of 360 degrees photography and
                  videography today!
                </h4>
                <p>
                  Don't settle for traditional photography and videography
                  services that only capture a fraction of the atmosphere. Step
                  into the extraordinary and let our 360 degrees cameras
                  transport you into a world of awe-inspiring visuals. Trust us
                  to encapsulate the spirit of your event in every frame,
                  creating memories that will make you feel like you're reliving
                  the magic every time you revisit them.
                </p>
                <p>
                  Contact us today and let us turn your event into a mesmerizing
                  visual masterpiece. Unleash the power of 360 degrees
                  photography and videography –
                  <em
                    ><strong
                      >where every angle tells a story, and every moment shines
                      forever.</strong
                    ></em
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>
              The following testimonials serve as a testament to the exceptional
              levels of creativity, unwavering professionalism, and meticulous
              attention to detail of 360 Rotating Scenes commitment to deliver
              outstanding services
            </p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I was blown away by the immersive experience provided by 360
                    Rotating Scenes! As a tech-savvy young adult, I'm always on
                    the lookout for innovative and unique experiences, and you
                    delivered beyond my expectations. The ability to capture a
                    full 360-degree video and create dynamic, shareable content
                    instantly is truly amazing. I had so much fun posing and
                    seeing the final result. Rotating Scenes is a must-have for
                    any event!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>

                  <h3>Roy</h3>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    360 Rotating Scenes took my event experience to a whole new
                    level! I appreciate how your offerings allowed me to capture
                    memorable moments from every angle. The interactive process
                    of posing and seeing the photo come to life is incredible.
                    The high-quality images and the ability to share them
                    instantly make 360 Rotating Scenes a standout service. Thank
                    you for adding an extra dose of excitement and fun to my
                    event!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <h3>Susan</h3>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    360 Rotating Scenes provided me with a truly unique and
                    unforgettable experience! As a senior citizen, you made it
                    so easy for me to capture photos. The process was fun and
                    interactive, and I was amazed at the final result. Being
                    able to share these special memories with my loved ones
                    brought so much joy to my heart. Rotating Scenes is a
                    fantastic addition to any event, regardless of age!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <h3>Bob</h3>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact Us</h2>
            <p>
              Got any questions or inquiries? We're here to help! Reach out to
              our friendly team through the contact form or give us a call.
              We're eager to assist you and provide the information you need.
              Don't hesitate to get in touch with us today!
            </p>
          </div>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-globe"></i>
                  <h4>Web:</h4>
                  <p>www.rotatingscenes.com</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@rotatingscenes.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>
                    🇬🇧+ 44 741 248 8488
                    <br />
                    🇰🇪+ 254 743 991423
                    <br />
                    🇿🇦+ 27 64 770 5798
                  </p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <video width="100%" autoplay muted>
                <source src="/assets/img/video.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->

      <!-- ======= Contact Section ======= -->
      <section id="booking" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Booking Us</h2>
            <p>
              Elevate your content with our innovative videography services and
              let your audience explore a whole new perspective.
            </p>
          </div>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="/" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input
                      type="text"
                      name="first_name"
                      class="form-control"
                      id="first_name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="last_name">Last Name</label>
                    <input
                      type="text"
                      name="last_name"
                      class="form-control"
                      id="first_name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phone">Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      name="phone"
                      id="phone"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phone">Events Type</label>
                    <select class="form-select">
                      <option selected>Select an option</option>
                      <option value="corporate">Corporate</option>
                      <option value="wedding">Wedding</option>
                      <option value="birthday">Birthday</option>
                      <option value="anniversaries">Anniversaries</option>
                      <option value="school-event">School event</option>
                      <option value="festivals">Festivals</option>
                      <option value="concerts">Concerts</option>
                      <option value="sports-events">Sports events</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <div class="fom-group col-md-6">
                    <label for="date">Date:</label>
                    <input
                      type="date"
                      id="date"
                      name="date"
                      class="form-control"
                      placeholder="MM/DD/YYYY"
                      pattern="\d{2}\/\d{2}\/\d{4}"
                    />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="time">Time:</label>
                    <input
                      type="time"
                      id="time"
                      name="time"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group col-md-8">
                    <label for="phone">Is your event</label>
                    <select class="form-select">
                      <option selected>Indoor</option>
                      <option value="out-door">Out door</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="venue">Venue</label>
                    <input
                      type="text"
                      name="lvenue"
                      class="form-control"
                      id="venue"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="hear">How did you hear about us? </label>
                    <input
                      type="text"
                      name="hear"
                      class="form-control"
                      id="hear"
                      required
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Rotating Scenes </span></strong>2023
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
